<!DOCTYPE html>
<html lang="en" data-framework="typescript">
<head>
    <meta charset="utf-8" />
    <title>BabylonJS Material Editor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="vendor/ui-color-picker.css" type="text/css" />
    <link rel="stylesheet" href="vendor/slider.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <meta name="description" content="A Material editor for babylonjs meshes.">
    <meta name="keywords" content="WebGL, BabylonJS, Material editor, 3D, diffuse, bump, reflection, textures, specular">
    <meta name="author" content="Raanan Weber">
    <script src="vendor/babylon.2.0-beta.debug.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.8/angular-touch.min.js"></script>
    <script src="vendor/zip/zip.js"></script>
    <script src="vendor/ui-bootstrap.js"></script>
    <script src="vendor/ui-color-picker.js"></script>
    <script src="vendor/slider.js"></script>
    <script src="application.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BabylonJS Material Editor</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row" ng-controller="MaterialController as materialController">

                    <script type="text/ng-template" id="materialExport.html">
                        <div class="modal-header">
                            <h3 class="modal-title">MaterialExport</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-6">Scene variable name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="uScale" ng-model="sceneVariableName" ng-change="updateExport()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6">Material variable name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="vScale" ng-model="materialVariableName" ng-change="updateExport()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6">Material name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="uOffset" ng-model="materialName" ng-change="updateExport()">
                                    </div>
                                </div>
                            </form>
                            <textarea class="form-control" ng-model="materialExport" style="width:100%; height:500px;">{{materialExport}}</textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="close()">Close</button>
                        </div>
                    </script>

                    <div class="col-md-12">
                        <alert ng-repeat="alert in materialController.alerts" type="{{alert.type}}" close="materialController.closeAlert($index)">{{alert.msg}}</alert>
                        <div class="col-sm-12" ng-show="materialController.progress.enabled"><progressbar class="progress-striped active" value="materialController.progress.value"><i>{{materialController.progress.text}}</i></progressbar></div>
                        <form class="form-inline alphaDiv">
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="materialController.exportMaterial()">Export to JavaScript</button>
                                <button class="btn btn-default" ng-click="materialController.saveMaterial()">Save Material</button>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Material ID" ng-model="materialController.materialId" style="width:140px;">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="materialController.loadMaterial()">Load Material</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 alphaDiv" ng-show="materialController.isMultiMaterial">
                        <div class="col-md-6">
                            <h4>Material Index</h4>
                        </div>
                        <div class="col-md-6 alphaDiv">
                            <div class="btn-group" ng-repeat="i in materialController.getMaterialIndices() track by $index">
                                <label class="btn btn-primary" ng-model="materialController.multiMaterialPosition" ng-click="materialController.initMaterial(false, null, $index)" btn-radio="{{$index}}">{{$index}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 alphaDiv">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="materialDefinition.material.wireframe" btn-checkbox>Wireframe</label>
                            <label class="btn btn-primary" ng-model="materialDefinition.material.pointsCloud" btn-checkbox>Points</label>
                            <label class="btn btn-primary" ng-model="materialDefinition.material.backFaceCulling" btn-checkbox>Back Face Culling</label>
                            <label class="btn btn-primary" ng-model="materialDefinition.material.useAlphaFromDiffuseTexture" btn-checkbox>Alpha From Diffuse Texture</label>
                            <label class="btn btn-primary" ng-model="materialDefinition.material.useSpecularOverAlpha" btn-checkbox>Specular Over Alpha</label>
                            <!--<label class="btn btn-primary" ng-click="materialController.toFlat()">To Flat</label>-->
                        </div>
                    </div>
                    <div class="col-md-12 alphaDiv">
                        <div class="col-md-6">
                            <h4>Alpha</h4>
                        </div>
                        <div class="col-md-6 alphaDiv">
                            <slider ng-model="materialDefinition.material.alpha"
                                    floor="0"
                                    ceiling="1"
                                    step="0.01"
                                    precision="2">
                            </slider>
                        </div>
                    </div>

                    <div class="col-md-12 alphaDiv">
                        <tabset>
                            <tab ng-repeat="section in materialDefinition.sectionNames" heading="{{section.charAt(0).toUpperCase() + section.slice(1)}}" active="tab.active" disabled="tab.disabled">
                                <div class="col-md-12 alphaDiv" ng-show="materialDefinition.materialSections[section].hasColor">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Color</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input colorpicker class="form-control" ng-model="materialDefinition.materialSections[section].color.hex" ng-model-options="{ getterSetter: true }" type="text">
                                                <div class="input-group-addon" ng-style="{'background-color': materialDefinition.materialSections[section].color.hex()}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" ng-show="section=='specular'">
                                            <h4>Speclar Power</h4>
                                        </div>
                                        <div class="col-md-6" ng-show="section=='specular'">
                                            <input type="number" class="form-control" placeholder="Speclar Power" ng-model="materialDefinition.material.specularPower">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 alphaDiv" ng-show="materialDefinition.materialSections[section].hasFresnel">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Fresnel Parameters</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn pull-right" disable-enable-button ng-model="materialDefinition.materialSections[section].fresnel.fresnelVariable.isEnabled" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"></button>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row" collapse="!materialDefinition.materialSections[section].fresnel.fresnelVariable.isEnabled">
                                                <div class="col-md-6">
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label class="col-sm-6">Left Color</label>
                                                            <div class="col-sm-6">
                                                                <div class="input-group">
                                                                    <input colorpicker class="form-control" ng-model="materialDefinition.materialSections[section].fresnel.leftColor.hex" ng-model-options="{ getterSetter: true }" type="text">
                                                                    <div class="input-group-addon" ng-style="{'background-color': materialDefinition.materialSections[section].fresnel.leftColor.hex()}"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6">Bias</label>
                                                            <div class="col-sm-6">
                                                                <slider ng-model="materialDefinition.materialSections[section].fresnel.fresnelVariable.bias"
                                                                        floor="0"
                                                                        ceiling="1"
                                                                        step="0.01"
                                                                        precision="2">
                                                                </slider>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label class="col-sm-6">Right Color</label>
                                                            <div class="col-sm-6">
                                                                <div class="input-group">
                                                                    <input colorpicker class="form-control" ng-model="materialDefinition.materialSections[section].fresnel.rightColor.hex" ng-model-options="{ getterSetter: true }" type="text">
                                                                    <div class="input-group-addon" ng-style="{'background-color': materialDefinition.materialSections[section].fresnel.rightColor.hex()}"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6">Power</label>
                                                            <div class="col-sm-6">
                                                                <input type="number" class="form-control" placeholder="Power" ng-model="materialDefinition.materialSections[section].fresnel.fresnelVariable.power">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 alphaDiv" ng-show="materialDefinition.materialSections[section].hasTexture">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Texture</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn pull-right" disable-enable-button ng-model="materialDefinition.materialSections[section].texture.enabled" ng-model-options="{ getterSetter: true }" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"></button>
                                            <button type="button" class="btn" ng-show="section=='reflection'" disable-enable-button extra-text="Mirror" ng-model="materialDefinition.materialSections[section].texture.mirrorEnabled" ng-model-options="{ getterSetter: true }" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-mouseup="materialController.setPlaneForMirror()"></button>
                                        </div>
                                        <div class="col-md-12" ng-show="materialDefinition.materialSections[section].texture._isEnabled">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <texture-image tex="materialDefinition.materialSections[section].texture" ng-hide="materialDefinition.materialSections[section].texture.babylonTextureType === 4" on-update-texture="updateTexture($name)"></texture-image>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="col-md-12" ng-show="section=='reflection'">
                                                        <div class="alert alert-warning" role="alert" ng-show="materialDefinition.materialSections[section].texture.babylonTextureType === 4">Mirror works best with planes. Will not works correctly with all others.</div>
                                                        <h4>Coordinates Mode</h4>
                                                        <div class="btn-group" role="group" aria-label="...">
                                                            <button type="button" ng-model="materialDefinition.materialSections[section].texture.coordinatesMode" ng-model-options="{ getterSetter: true }" btn-radio="0" class="btn btn-default">Explicit</button>
                                                            <button type="button" ng-model="materialDefinition.materialSections[section].texture.coordinatesMode" ng-model-options="{ getterSetter: true }" btn-radio="1" class="btn btn-default">Spherical</button>
                                                            <button type="button" ng-model="materialDefinition.materialSections[section].texture.coordinatesMode" ng-model-options="{ getterSetter: true }" btn-radio="2" class="btn btn-default">Planar</button>
                                                            <button type="button" ng-model="materialDefinition.materialSections[section].texture.coordinatesMode" ng-model-options="{ getterSetter: true }" btn-radio="3" class="btn btn-default">Cube</button>
                                                            <button type="button" ng-model="materialDefinition.materialSections[section].texture.coordinatesMode" ng-model-options="{ getterSetter: true }" btn-radio="4" class="btn btn-default">Projection</button>
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12" ng-show="materialDefinition.materialSections[section].texture.init">
                                                        <h4>U/V/W Settings</h4>
                                                        <div class="col-md-6">
                                                            <form class="form-horizontal" role="form">
                                                                <div class="form-group">
                                                                    <label class="col-sm-6">U Scale</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="uScale" ng-model="materialDefinition.materialSections[section].texture.textureVariable.uScale">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-6">V Scale</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="vScale" ng-model="materialDefinition.materialSections[section].texture.textureVariable.vScale">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-6">U Offset</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="uOffset" ng-model="materialDefinition.materialSections[section].texture.textureVariable.uOffset">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-6">V Offset</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="vOffset" ng-model="materialDefinition.materialSections[section].texture.textureVariable.vOffset">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <form class="form-horizontal" role="form">
                                                                <div class="form-group">
                                                                    <label class="col-sm-6">U Angle</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="U Angle" ng-model="materialDefinition.materialSections[section].texture.textureVariable.uAng">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-6">V Angle</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="V Angle" ng-model="materialDefinition.materialSections[section].texture.textureVariable.vAng">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-6">Level</label>
                                                                    <div class="col-sm-6">
                                                                        <slider ng-model="materialDefinition.materialSections[section].texture.textureVariable.level"
                                                                                floor="0"
                                                                                ceiling="1"
                                                                                step="0.01"
                                                                                precision="2">
                                                                        </slider>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-6">Coordinates Index</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" laceholder="coordinates index" ng-model="materialDefinition.materialSections[section].texture.textureVariable.coordinatesIndex">
                                                                    </div>
                                                                </div>

                                                            </form>
                                                        </div>
                                                        <div class="btn-group">
                                                            <label class="btn btn-primary" ng-model="materialDefinition.materialSections[section].texture.textureVariable.hasAlpha" btn-checkbox>Has Alpha</label>
                                                            <label class="btn btn-primary" ng-model="materialDefinition.materialSections[section].texture.textureVariable.getAlphaFromRGB" btn-checkbox>Get Alpha from RGB</label>
                                                            <label class="btn btn-primary" ng-model="materialDefinition.materialSections[section].texture.textureVariable.wrapU" btn-checkbox>Wrap U</label>
                                                            <label class="btn btn-primary" ng-model="materialDefinition.materialSections[section].texture.textureVariable.wrapV" btn-checkbox>Wrap V</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <div class="col-md-4" ng-controller="CanvasController as canvasController">
                <div class="row alphaDiv">
                    <div class="col-md-3">
                        <h4 class="alphaDiv">Mesh</h4>
                    </div>
                    <div class="col-md-6 alphaDiv">
                        <select class="form-control" ng-model="canvasController.selectedObjectPosition" ng-options="object.name for object in canvasController.objectTypes" ng-change="canvasController.objectSelected()"></select>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default alphaDiv" ng-model="canvasController.singleOutMesh" ng-change="canvasController.singleOutChanged()" btn-checkbox>Single</button>
                    </div>       
                </div>
                <button class="btn btn-default alphaDiv" ng-click="canvasController.objectSubMeshes()">Configure SubMeshes</button>
                <script type="text/ng-template" id="objectSubMeshes.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Object Sub-Meshes - {{object.name}}</h3>
                    </div>
                    <div class="modal-body">
                        <p><span>Total Indices : {{totalNumberOfIndices}}</span> <span>Indices left : {{indicesLeft}}</span></p>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Material-Idx</th>
                                    <th>Start at index</th>
                                    <th>Number of indices</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="subMesh in object.subMeshes track by $index">
                                <tr>
                                    <td>{{$index}}</td>
                                    <td>{{subMesh.materialIndex}}<!--<div class="col-xs-5"><input type="number" class="form-control" placeholder="MatIdx" ng-model="subMesh.materialIndex" ng-change="updateObject()"></div>--></td>
                                    <td>{{subMesh.indexStart}}<!--<div class="col-xs-5"><input type="number" step="3" class="form-control" placeholder="IndexStart" ng-model="subMesh.indexStart" ng-change="updateObject()"></div>--></td>
                                    <td><div class="col-xs-5"><input type="number" step="3" class="form-control" placeholder="IndexCount" ng-model="subMesh.indexCount" ng-blur="updateObject()"></div></td>
                                    <td><button class="btn btn-primary" ng-click="removeSubMesh($index)">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" ng-click="addSubMesh()">Add new SubMesh</button>

                        <div class="form-inline alphaDiv">
                            <div class="form-group">
                                <p>Divide the object to</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="" ng-model="division" style="width:140px;">
                            </div>
                            <div class="form-group">
                                <p>equal submeshes.</p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="divideObject()">Go</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="close()">Done</button>
                    </div>
                </script>

                <!--<div class="row alphaDiv">
                    <div class="col-md-6">
                        <h4>Alpha</h4>
                    </div>
                    <div class="col-md-6 alphaDiv">
                        <slider ng-model="material.alpha"
                                floor="0"
                                ceiling="1"
                                step="0.01"
                                precision="2">
                        </slider>
                    </div>
                </div>-->
                <button class="btn btn-default alphaDiv pull-right" ng-click="lightConfigure = !lightConfigure">Configure Light</button>
                <div collapse="lightConfigure">
                    <h4>Light Type</h4>
                    <select class="form-control" ng-model="canvasController.selectedLightType" ng-options="type.name for type in canvasController.lightTypes" ng-change="canvasController.lightTypeChanged()"></select>
                    <div class="row alphaDiv">
                        <div class="col-md-6">
                            <h4>Diffuse Color</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input colorpicker class="form-control" ng-model="lightDiffuseColor.hex" ng-model-options="{ getterSetter: true }" type="text">
                                <div class="input-group-addon" ng-style="{'background-color': lightDiffuseColor.hex()}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Specular Color</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input colorpicker class="form-control" ng-model="lightSpecularColor.hex" ng-model-options="{ getterSetter: true }" type="text">
                                <div class="input-group-addon" ng-style="{'background-color': lightSpecularColor.hex()}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <canvas class="alphaDiv" id="renderCanvas"></canvas>
                </div>
                <div class="row">
                    <div class="col-md-6 alphaDiv">
                        <div class="form-group">
                            <input type="file" accept="application/zip" id="scene-input">
                            <p class="help-block">Please select a zip containing mesh and textures.</p>
                        </div>

                    </div>
                    <div class="col-md-6 alphaDiv">
                        <button class="btn btn-default pull-right" ng-click="canvasController.fileAdded()">Import Object</button>
                    </div>
                    <div class="col-md-12 alphaDiv">
                        <button class="btn btn-default alphaDiv" ng-click="canvasController.resetScene()">Reset Scene To Defaults</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Created by Raanan Weber (<a href="https://github.com/raananw/">https://github.com/raananw/</a>), 2014.</p>
        </div>
    </footer>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-58143781-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>
