node_modules
.tempChromeProfileForDebug
*.map
/gradingSceneOptimizer/js/babylon.js
/gradingSceneOptimizer/js/init.js
/gradingSceneOptimizer/ts/demo.ts
/gradingSceneOptimizer/js/demo.js
/gradingSceneOptimizer/gulpfile.js
